<!DOCTYPE html>
<html lang="en">
<head>
  <title>Presentacion</title>
  <%= tinymce %>
  <script type="text/javascript" src="/assets/tinymce-c549e88801182a609a4b0c6665fd796c.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
